<div class="user-bio">
  <h2>Post #<%= @post.id %> by <%= @user.name %></h2>
  <p class="stat-count">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  <p><%= @post.text %></p>
  <% if can?(:destroy, @post) %>
    <%= link_to 'Delete', user_post_path(@user, @post), method: :delete%>
  <% end %>
</div>

<div class="user-bio comt">
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= "#{comment.author.name}: #{comment.text}" %></li>
    <% end %>
  </ul>
</div>

<div class="reaction">
  <%= button_to "Like", like_post_path(@post), method: :post %>

  <div>
    <h3>Add a Comment</h3>
    <%= form_with(model: [@post, @post.comments.build], url: user_post_comments_path(@user, @post)) do |form| %>
      <%= form.text_area :text %>
      <br>
      <%= form.submit "Add Comment" %>
    <% end %>
  </div>
</div>
<div class="bottom-nav">
  <%= link_to "Home", users_path %>
  <%= link_to 'Back', user_path(@user) %>
</div>